<p>Hi {{name}},</p>

<p>Thank you for your ${{amount}} donation to the {{project}} fundraiser through Newspark. <p>
<p>Your donation provides invaluable support to {{organization}} so that it can carry out its mission. <p>

<p>Newspark is committed to help spark change through the news. Learn more about Newspark at <a href='newspark.us'>newspark.us.</a></p>

<p>Thank you, <p>
<p> Newspark Founders </p> <br/>

<p>Follow Newspark on <a href='https://twitter.com/NewsparkUS'>Twitter</a> and <a href='https://www.instagram.com/newspark.us/'>Instagram </a>.
  Subscribe to our newsletter <a href='https://www.newspark.us/index.html#newsletter'>here</a>. </p>